<div class="flex flex-col h-full w-full justify-start gap-2">

    <span class="flex items-center justify-between border-b-2 border-gray-400 text-sm">

        <div *ngFor="let d of data,index as ind"
            [ngStyle]="activeTabIndex == ind ? {'border-bottom':'2px solid white'} : {}" (click)="activeTabIndex = ind" class="p-2">
            {{d.title}}({{d.data.length ?? ''}})</div>

    </span>
    <span class="flex items-center px-2">
        Filter
        <mat-icon>filter_list</mat-icon>
    </span>
    <div class="flex flex-col items-stretch overflow-y-auto p-2">
        <div *ngFor="let d of data[activeTabIndex].data;index as ind"
            class="flex items-start justify-between gap-2 border-b-[1px] p-2 hover:bg-white/50"
            (click)="changeIndex(activeTabIndex,ind)">
            <input type="checkbox">
            <div class="flex flex-col gap-2">
                <span class="flex flex-row gap-2 text-black">
                    <div class="flex bg-white px-2 py-1 rounded-sm w-max">
                        <mat-icon class="text-sm">arrow_downward</mat-icon>
                        <p class="text-sm font-medium">F'CAST STAB.</p>
                    </div>
                    <div class="flex bg-white px-2 py-1 rounded-sm w-max">
                        <mat-icon class="text-sm">arrow_upward</mat-icon>
                        <p class="text-sm font-medium">F'CAST ACC.</p>
                    </div>
                </span>
                <span>
                    {{d.name}}
                </span>
            </div>
            <div>
                <mat-icon>mail</mat-icon>
            </div>
        </div>
    </div>
</div>