<div class="flex flex-col flex-1 justify-start">
    <span>
        <mat-icon>back</mat-icon>
    </span>
    <span class="flex gap-4">
        <span class="bg-secondary h-4 w-8 rounded-sm"></span>
        <span class="bg-tertiary h-4 w-8 rounded-sm"></span>
        <span class="bg-secondary h-4 w-8 rounded-sm"></span>
        <span class="bg-secondary h-4 w-8 rounded-sm"></span>
        <span class="bg-secondary h-4 w-8 rounded-sm"></span>
    </span>
    <span class="flex items-center justify-between border-b-2 border-gray-400">
        <div class="border-b-2 border-white border-">Backlog</div>
        <div>Pending</div>
        <div>Final SIGN-OFF</div>
    </span>
    <span>
        Filter
        <mat-icon>filter</mat-icon>
    </span>
    <div class="flex flex-col items-stretch">
        <div class="flex">
            <input type="checkbox">
            <div class="flex flex-col">
                <span>
                    <div class="flex gap-2 bg-white p-2 rounded-sm">
                        <mat-icon>arrow_downward</mat-icon>
                        <p>F'CAST STAB.</p>
                    </div>
                    <div class="flex gap-2 bg-white p-2 rounded-sm">
                        <mat-icon>arrow_upward</mat-icon>
                        <p>F'CAST ACC.</p>
                    </div>
                </span>
                <span>
                    Sample Stack
                </span>
            </div>
            <div>
                <mat-icon>msg</mat-icon>
            </div>
        </div>
    </div>
</div>